<!-- components/footer.html -->

<footer class="pie_de_pagina" role="contentinfo">
  <!-- Mis redes -->
  <div class="pie_de_pagina__columna">
    <h4 class="pie_de_pagina__titulo_columna">Mis redes</h4>
    <!-- GitHub, LinkedIn -->
    <ul class="enlaces enlaces_redes">
      <!-- GitHub -->
      <li class="enlaces__item">
        <a
          class="enlaces__enlace enlaces__enlace_footer"
          href="https://github.com/martin-b-07e5"
          target="_blank"
        >
          <img
            class="enlaces__icono"
            src="../assets/img/logos/GitHub.png"
            alt="GitHub"
            title="GitHub"
          />
        </a>
      </li>

      <!-- LinkedIn -->
      <li class="enlaces__item">
        <a
          class="enlaces__enlace enlaces__enlace_footer"
          href="https://www.linkedin.com/in/martinbergagno/"
          target="_blank"
        >
          <img
            class="enlaces__icono"
            src="../assets/img/logos/LinkedIn.png"
            alt="LinkedIn"
            title="LinkedIn"
          />
        </a>
      </li>
    </ul>
  </div>

  <!-- Contacto -->
  <div class="pie_de_pagina__columna">
    <h4 class="pie_de_pagina__titulo_columna">Contacto</h4>
    <!-- mailto -->
    <ul class="enlaces enlaces_vertical">
      <li class="enlaces__item">
        <a
          class="enlaces__enlace enlaces__enlace_footer"
          href="mailto:typw@cock.li"
          target="_blank"
        >
          <img
            class="enlaces__icono"
            src="../assets/img/logos/mail-send.png"
            alt="Email"
            title="Email"
          />
          <!-- Email -->
        </a>
      </li>
    </ul>
  </div>

  <!-- Secciones -->
  <div class="pie_de_pagina__columna" role="navigation">
    <h4 class="pie_de_pagina__titulo_columna">Secciones</h4>
    <!-- Inicio, sobre mi, proyectos -->
    <ul class="enlaces enlaces_vertical">
      <!-- Inicio -->
      <li class="enlaces__item">
        <!-- top -->
        <a class="enlaces__enlace enlaces__enlace_footer" href="#top" title="Inicio"> Inicio </a>
      </li>

      <!-- Sobre mi -->
      <li class="enlaces__item">
        <!-- link a sobre mi -->
        <a class="enlaces__enlace enlaces__enlace_footer" href="#sobre-mi" title="Sobre mi"> Sobre mi </a>
      </li>

      <!-- Proyectos -->
      <li class="enlaces__item">
        <!-- link a proyectos -->
        <a class="enlaces__enlace enlaces__enlace_footer" href="#proyectos" title="Proyectos">
          Proyectos
        </a>
      </li>
    </ul>
  </div>

  <!-- Año dinámico -->
  <div class="pie_de_pagina__copyright">
    <p class="pie_de_pagina__parrafo">
      <!-- El año se actualizará dinámicamente con JavaScript -->
      <span id="current-year">1950</span> Todos los derechos reservados
    </p>
  </div>

  <!-- end footer -->
</footer>
