<!-- components/header.html -->

<header class="encabezado">
  <nav class="navegacion">
    <a class="navegacion__enlace" href="#presentacion" title="Home">
      <h2 class="navegacion__titulo">Informatorio</h2>
    </a>
    <ul class="enlaces">
      <!-- <li class="enlaces__item">
        <a class="enlaces__enlace" href="#presentacion">Inicio</a>
      </li> -->
      <li class="enlaces__item">
        <a class="enlaces__enlace" href="#sobre-mi" title="Sobre mi">Sobre mí</a>
      </li>
      <li class="enlaces__item">
        <a class="enlaces__enlace" href="#proyectos" title="Proyectos">Proyectos</a>
      </li>
    </ul>
  </nav>
</header>
