<!-- components/presentation.html -->

<section class="presentacion" id="presentacion">
  <div class="presentacion__contenedor_info">
    <h1 class="presentacion__titulo">Martín B.</h1>
    <h2 class="presentacion__subtitulo">Desarrollador Web</h2>
    <p class="presentacion__parrafo">
      ¡Hola! Soy Martín. Mi interés es crear y colaborar en proyectos que aporten valor.
      <br />
      Te comparto mi portafolio para mostrarte algunos de mis proyectos.
    </p>
    <div class="presentacion__contenedor_botones">
      <a class="boton" href="#sobre-mi" title="Sobre mí"">Sobre mí</a>
      <a
        class="boton boton--oscuro"
        role="button"
        href="./assets/docs/cv.pdf"
        target="_blank"
        title="Descargar CV"
        >Descargar CV</a
      >
    </div>
  </div>
</section>
