<!-- components/projects.html -->

<!-- personal projects -->
<article class="articulo proyectos" id="proyectos">
  <div class="articulo__contenedor">
    <h2 class="articulo__titulo">Mis proyectos</h2>

    <!-- div gral grilla de proyectos -->
    <div class="contenedor_tarjetas_grid">
      <!--  -->
      <!-- python2021--blog1 -->
      <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <!-- src="./assets/img/projects/paisaje.png" -->
        <img
          class="tarjeta__imagen"
          src="assets/img/projects/Python.png"
          alt="Imagen del proyecto 1"
          title="Imagen del proyecto 1"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_1">python2021--blog1</h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_1"
          >
            Proyecto python+django (solo).<br />
            Tecnologías usadas: Python, Django.
          </p>
          <a
            href="https://github.com/martin-b-07e5/python2021--blog1"
            class="boton boton_oscuro"
            target="_blank"
            >Ver proyecto</a
          >
        </div>
      </article>

      <!-- python2021--blog_g6 -->
      <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <img
          class="tarjeta__imagen"
          src="assets/img/projects/Django.png"
          alt="Imagen del proyecto 2"
          title="Imagen del proyecto 2"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_5">python2021--blog_g6</h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_3"
          >
            Proyecto python+django (entre dos).<br />
            Tecnologías usadas: Python, Django.
          </p>
          <a
            href="https://github.com/martin-b-07e5/python2021--blog_g6"
            class="boton boton_oscuro"
            target="_blank"
            >Ver proyecto</a
          >
        </div>
      </article>

      <!-- react2022-news-app-v0.2.5.1--TFinal -->
      <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <img
          class="tarjeta__imagen"
          src="assets/img/projects/React.png"
          alt="Imagen del proyecto 3"
          title="Imagen del proyecto 3"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_5">
            react2022-news-app-v0.2.5.1--TFinal
          </h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_5"
          >
            Consumo de la API desarrollada en Java.<br />
            Tecnologías usadas: React.
          </p>
          <a
            href="https://github.com/martin-b-07e5/react2022-news-app-v0.2.5.1--TFinal"
            class="boton"
            target="_blank"
            >Ver proyecto</a
          >
        </div>
      </article>

      <!-- java2022--aas-v0.1-TFinal -->
      <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <img
          class="tarjeta__imagen"
          src="assets/img/projects/Java.png"
          alt="Imagen del proyecto 4"
          title="Imagen del proyecto 4"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_6">
            java2022--aas-v0.1-TFinal
          </h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_6"
          >
            Creación de API para ser consumida por React.<br />
            Tecnologías usadas: Java, Spring, MySQL.
          </p>
          <a
            href="https://github.com/martin-b-07e5/java2022--aas-v0.1-TFinal"
            class="boton boton_oscuro"
            target="_blank"
            >Ver proyecto</a
          >
        </div>
      </article>

      <!-- react2022--movies-react -->
      <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <img
          class="tarjeta__imagen"
          src="assets/img/projects/paisaje.png"
          alt="Imagen del proyecto 5"
          title="Imagen del proyecto 5"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_4">movies</h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_4"
          >
            Movies<br />
          </p>
          <a
            href="https://martin-b-07e5.github.io/react2022--movies-react-v6--debounce/"
            class="boton boton_oscuro"
            target="_blank"
            >Ver proyecto</a
          >
        </div>
      </article>

      <!-- react2022--movies-react -->
      <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <img
          class="tarjeta__imagen"
          src="assets/img/projects/React.png"
          alt="Imagen del proyecto 6"
          title="Imagen del proyecto 6"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_4">react2022--movies-react</h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_4"
          >
          App de Movies, que consume una API.<br>
            Tecnologías usadas: React.
          </p>
          <a
            href="https://github.com/martin-b-07e5/react2022--movies-react-v6--debounce"
            class="boton boton_oscuro"
            target="_blank"
            >Ver proyecto</a
          >
        </div>
      </article>

      <!-- AP-PFE -->
      <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <img
          class="tarjeta__imagen"
          src="assets/img/projects/Angular.png"
          alt="Imagen del proyecto 7"
          title="Imagen del proyecto 7"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_6">AP-PFE</h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_6"
          >
            Proyecto Front End.<br>
            Tecnología usadas: Angular.
          </p>
          <a
            href="https://github.com/martin-b-07e5/AP-PFE"
            class="boton boton_oscuro"
            target="_blank"
            >Ver proyecto</a
          >
        </div>
      </article>

      <!-- AP-PBE -->
      <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <img
          class="tarjeta__imagen"
          src="assets/img/projects/Spring.png"
          alt="Imagen del proyecto 8"
          title="Imagen del proyecto 8"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_7">AP-PBE</h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_7"
          >
            Proyecto Back End.<br>
            Tecnología usadas: Java, spring.
          </p>
          <a
            href="https://github.com/martin-b-07e5/AP-PBE"
            class="boton boton_oscuro"
            target="_blank"
            >Ver proyecto</a
          >
        </div>
      </article>

      <!-- notion_ex2.0 -->
      <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <img
          class="tarjeta__imagen"
          src="./assets/img/projects/Jupyter.png"
          alt="Imagen del proyecto 9"
          title="Imagen del proyecto 9"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_8">notion_ex2.0</h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_8"
          >
            Data analytics, openweather.
          </p>
          <a
            href="https://github.com/martin-b-07e5/notion_ex2.0"
            class="boton boton_oscuro"
            target="_blank"
            >Ver proyecto</a
          >
        </div>
      </article>

      <!-- DA-202308 -->
      <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <img
          class="tarjeta__imagen"
          src="./assets/img/projects/Pandas.png"
          alt="Imagen del proyecto 10"
          title="Imagen del proyecto 10"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_9">DA-202308</h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_9"
          >
            Data analytics, TP final.
          </p>
          <a
            href="https://github.com/martin-b-07e5/DA-202308"
            class="boton"
            target="_blank"
            >Ver proyecto</a
          >
        </div>
      </article>

      <!-- juego-secreto -->
      <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <img
          class="tarjeta__imagen"
          src="./assets/img/projects/HTML5.png"
          alt="Imagen del proyecto 11"
          title="Imagen del proyecto 11"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_10">juego-secreto</h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_10"
          >
            Adivinar nro. <br>
            Tecnologías usadas: HTML, CSS, JS.
          </p>
          <a
            href="https://martin-b-07e5.github.io/juego-secreto/"
            class="boton"
            target="_blank"
            >Ver proyecto</a
          >
        </div>
      </article>

      <!-- tarjeta encriptador-texto -->
      <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <img
          class="tarjeta__imagen"
          src="./assets/img/projects/JavaScript.png"
          alt="Imagen del proyecto 12"
          title="Imagen del proyecto 12"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_11">encriptador-texto</h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_11"
          >
            encriptador-texto <br>
             Tecnologías usadas: HTML, CSS, JS.
          </p>
          <a href="https://martin-b-07e5.github.io/encriptador-texto/" class="boton" target="_blank">Ver proyecto</a>
        </div>
      </article>

      <!-- tarjeta proyecto 13 -->
      <!-- <article class="tarjeta" aria-label="presentacion de proyecto personal">
        <img
          class="tarjeta__imagen"
          src="./assets/img/projects/paisaje.png"
          alt="Imagen del proyecto 13"
          title="Imagen del proyecto 13"
        />
        <div class="tarjeta__contenido">
          <h3 class="tarjeta__titulo" id="titulo_proyecto_9">Proyecto 12</h3>
          <span class="tarjeta__divisor"></span>
          <p
            class="tarjeta__parrafo scroll scroll_fino"
            aria-label="descripcion de proyecto personal"
            aria-describedby="titulo_proyecto_13"
          >
            encriptador-texto.<br>
            Tecnologías usadas: HTML, CSS, JS.
          </p>
          <a href="#" class="boton" target="_blank">Ver proyecto</a>
        </div>
      </article> -->

      <!-- end div gral -->
    </div>
  </div>
  <!--end article projects -->
</article>
