/* assets/css/header.css */

/* ===== CLASES UTILITARIAS ===== */
.titulo {
  font-weight: var(--peso-bold);
}

/* ===== FIXED HEADER ===== */
.encabezado {
  position: fixed;
  width: 100%;
  height: 40px; /* Reduce altura */
  top: 0;
  left: 0;
  background-color: var(--fondo-terciario);
}

#proyectos {
  /* importante no borrar */
  scroll-margin-top: 40px;
}
/* ===== END FIXED HEADER ===== */

/* ===== HEADER ===== */
.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fondo-secundario-transparente);
  padding: 0.5rem;
  height: 100%;
}

.navegacion__enlace {
  /* Elimina el subrayado del enlace */
  text-decoration: none;
}

.navegacion__titulo {
  font-weight: var(--peso-bold);
  font-size: var(--texto-3xl);
  color: var(--texto-primario);
  text-shadow: var(--fondo-secundario) 1px 1px 1px;
}

.enlaces {
  display: flex;
  /* Elimina los puntos */
  list-style: none;
  gap: 1rem;
}

.enlaces__item {
  background-color: var(--fondo-secundario);
}

.enlaces__enlace {
    text-decoration: none;
    color: var(--color-secundario);
    font-size: var(--texto-lg);
    font-weight: var(--peso-medium);
}