/* ===== MAIN ===== */
.principal {
  padding-top: 20px;
  /* background-color: aqua; */
}

/* === Presentación === */
.presentacion {
  /* padding: var(--espacio-10) var(--espacio-5); */
  padding-top: var(--espacio-10);
  padding-left: var(--espacio-5);
  padding-bottom: var(--espacio-1);
  padding-right: var(--espacio-5);
}

.presentacion__contenedor_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--espacio-4);
  gap: var(--espacio-1);
  margin: 0 1rem;
  background: var(--fondo-primario);
  border: solid 1px var(--color-primario);
  border-radius: var(--radio-lg);
}

.presentacion__titulo {
  font-weight: var(--peso-bold);
  font-size: var(--texto-4xl);
  color: var(--texto-primario);
  margin-bottom: var(--espacio-1);
}

.presentacion__subtitulo {
  font-weight: var(--peso-medium);
  font-size: var(--texto-3xl);
  color: var(--color-primario);
  margin-bottom: var(--espacio-2);
}

.presentacion__parrafo {
  font-weight: var(--peso-regular);
  font-size: var(--texto-lg);
  color: var(--texto-secundario);
  margin-bottom: var(--espacio-3);
  line-height: 1.6;
}

/* -- Botones -- */
.presentacion__contenedor_botones {
  display: flex;
  justify-content: center;
  gap: var(--espacio-4);
  flex-wrap: wrap;
}

.boton {
  display: inline-block; /* Para que se comporten como botones */
  padding: var(--espacio-3) var(--espacio-5);
  text-decoration: none;
  border-radius: var(--radio-base);
  font-weight: var(--peso-medium);
  font-size: var(--texto-base);
  border: 2px solid var(--color-primario);
  transition: all 0.3s ease;
  cursor: pointer;
}

.boton:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: red;
}

.boton.boton--oscuro {
  background-color: var(--color-primario);
  color: white;
}

.boton.boton--oscuro:hover {
  background-color: var(--color-primario-hover);
  border-color: var(--color-primario-hover);
  color: red;
}
/* -- end Botones -- */