 <!-- components/about/about-description.html -->

<!-- # Título "Sobre mí" -->
<h2 class="articulo__titulo">Sobre mí</h2>

 <!-- # Sección de historia profesional -->
 <section class="seccion_descripcion">
  <div class="seccion_descripcion__porta_retrato">
    <img
      class="seccion_descripcion__imagen"
      src="./assets/img/profile/Imagen-Martín.png"
      alt="Foto de perfil"
      title="Foto de perfil"
    />
  </div>
  <div class="seccion_descripcion__info scroll scroll_fino scroll_gris" aria-label="descripcion personal">
    <h3 class="seccion_descripcion__titulo" id="mi_historia_titulo">
      Mi historia como Full Stack Developer & DevOps
    </h3>
    <p class="seccion_descripcion__parrafo" aria-label="Detalle de mi historia" aria-describedby="mi_historia_titulo">
      Soy analista de sistemas con experiencia en gestión de sistemas y
      desarrollo web.<br />
      He trabajado como responsable de sistemas en una obra social nacional,
      donde gestioné infraestructuras tecnológicas críticas.<br />
      También trabajé en el sector de comercio electrónico para una empresa
      exportadora, adquiriendo experiencia en el mantenimiento de plataformas
      web.
    </p>
    <p class="seccion_descripcion__parrafo" aria-label="Detalle de mis habilidades" aria-describedby="mi_historia_titulo">
      He completado cursos en Python, Java (incluyendo Spring Boot), React,
      testing, Angular, UX/UI y análisis de datos, lo que ha ampliado mis
      habilidades en diversas áreas del desarrollo y la tecnología.<br />
      Poseo conocimientos en Windows y Linux, así como en DevOps, en Java Spring
      Boot, React, Angular, MySQL, postgreSQL, Docker, git, github, HTML y CSS.
    </p>
    <p class="seccion_descripcion__parrafo" aria-label="Detalle de mis habilidades" aria-describedby="mi_historia_titulo">
      Además, cuento con la certificación OCI Foundations Associate 2025, que
      respalda mis habilidades en la nube.<br />
      Mi objetivo es continuar mi desarrollo profesional en el ámbito
      tecnológico y contribuir con mis conocimientos a proyectos innovadores.
    </p>
  </div>
</section>