<!-- components/about/about-hobbies.html -->
<!-- # Sección de hobbies -->
<section class="seccion_descripcion">
  <div
    class="seccion_descripcion__info scroll scroll_fino scroll_gris"
    aria-label="descripcion personal"
  >
    <h3 class="seccion_descripcion__titulo" id="mis_hobbies_titulo">Mis hobbies</h3>
    <p
      class="seccion_descripcion__parrafo"
      aria-label="Detalle de mis hobbies"
      aria-describedby="mis_hobbies_titulo"
    >
      En mi tiempo libre, disfruto de actividades al aire libre como el ciclismo, que me
      permiten conectar con la naturaleza y mantenerme activo.<br />
    </p>
    <p
      class="seccion_descripcion__parrafo"
      aria-label="Detalle de mis hobbies"
      aria-describedby="mis_hobbies_titulo"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, ab. Maxime, voluptate
      error. Ut itaque non reprehenderit, alias quasi perspiciatis eaque at culpa
      obcaecati, cum quia. Rem commodi quasi debitis!
    </p>
  </div>
  <div class="seccion_descripcion__porta_retrato">
    <!-- src="./assets/img/profile/Imagen-Martín.png" -->
    <img
      class="seccion_descripcion__imagen"
      src="https://dummyimage.com/600x400/000/fff&text=hobbies"
      alt="Foto de hobbies"
      title="Foto de hobbies"
    />
  </div>
</section>
